*{
    margin: 0;
    padding: 0;
}

html, body{
    overflow-y: visible;
}

.menu{
    display: none;
}

.card a{
    width: 24%;
}

.card img{
    width: 100%;
}

.notation img, .step .cube img{
    width: 64px;
}

table img{
    width: 64px;
}

.alg{
    float: none;
}

.notation, .step{
    justify-content: center;
}