<footer>
    <p>2024 Leonardo Baldo</p>
    <a class="logo" href="https://www.worldcubeassociation.org/persons/2022BALD01" target="_blank" rel="noopener noreferrer">
        <img id="wca" src="image/WCA.svg" alt="logo">
    </a>
    <a class="logo" href="https://github.com/G4utama" target="_blank" rel="noopener noreferrer">
        <img id="github" src="image/github.svg" alt="logo">
    </a>
    <a class="logo" href="https://www.linkedin.com/in/leonardo-baldo-6a79652bb" target="_blank" rel="noopener noreferrer">
        <img id="linkedin" src="image/linkedin.svg" alt="logo">
    </a>
</footer>