<header>
    <a class="logo" href=".">
        <img id="cube" src="image/logo.png" alt="logo">
    </a>
    <nav class="menu">
        <ul>
            <li><a href="3x3.html">3x3</a>
                <ul>
                    <li><a href="3x3-OLL.html">OLL</a></li>
                    <li><a href="3x3-PLL.html">PLL</a></li>
                    <li><a href="3x3-COLL.html">COLL</a></li>
                </ul>
            </li>
            <li><a href="2x2.html">2x2</a>
                <ul>
                    <li><a href="2x2-OLL.html">OLL</a></li>
                    <li><a href="2x2-PBL.html">PBL</a></li>
                </ul>
            </li>
            <li><a href="4x4.html">4x4</a>
                <ul>
                    <li><a href="4x4-OLL.html">OLL</a></li>
                </ul>
            </li>
            <li><a href="megaminx.html">Megaminx</a>
                <ul>
                    <li><a href="megaminx-EO.html">EO</a></li>
                    <li><a href="megaminx-CO.html">CO</a></li>
                    <li><a href="megaminx-EP.html">EP</a></li>
                    <li><a href="megaminx-CP.html">CP</a></li>
                </ul>
            </li>
            <li><a href="pyra.html">Pyraminx</a>
                <ul>
                    <li><a href="pyra-L3C.html">L3C</a></li>
                    <li><a href="pyra-L3E.html">L3E</a></li>
                </ul>
            </li>
            <li><a href="skewb.html">Skewb</a>
                <ul>
                    <li><a href="skewb-LL.html">LL</a></li>
                    <li><a href="skewb-L4C.html">L4C</a></li>
                </ul>
            </li>
            <li><a href="SQ1.html">SQ-1</a>
                <ul>
                    <li><a href="SQ1-CP+DF.html">CP+DF</a></li>
                    <li><a href="SQ1-PLL.html">PLL</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>