<header>
    <a class="logo" href="index.html">
        <img id="cube" src="image/logo.png" alt="logo">
    </a>
    <nav class="menu">
        <ul>
            <li><a href="#">3x3</a>
                <ul>
                    <li><a href="3x3-OLL.html">OLL</a></li>
                    <li><a href="3x3-PLL.html">PLL</a></li>
                    <li><a href="#">COLL</a></li>
                    <li><a href="#">OH PLL</a></li>
                </ul>
            </li>
            <li><a href="#">2x2</a>
                <ul>
                    <li><a href="2x2-OLL.html">OLL</a></li>
                    <li><a href="2x2-PBL.html">PBL</a></li>
                </ul>
            </li>
            <li><a href="#">SQ-1</a>
                <ul>
                    <li><a href="SQ1-CP+DF.html">CP+DF</a></li>
                    <li><a href="SQ1-PLL.html">PLL</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>